.example-full-width {
    width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-column-select {
  margin-left: 16px; /* Adjust margin as needed */
}
.button-container {
  display: flex;
}
