<div class="centre-form">
  <form [formGroup]="gadsForm">
    <div class="heading">
      <span *ngIf="task_id != undefined && this.task_id != ''"
        >Task Name / {{ task_name }}
        <div class="label-input-block">
          <a (click)="duplicateTask()" matTooltip="Make a copy">
            <mat-icon>file_copy</mat-icon>
          </a>
        </div></span
      >
      <span *ngIf="task_id == undefined || this.task_id == ''">New Task</span>
    </div>
    <mat-stepper #stepper>
      <mat-step>
        <div class="label-input-block top-centre-form">
          <mat-form-field
            name="gadsCustomerId"
            formControlName="gadsCustomerId"
            id="gadsCustomerId"
          >
            <ng-template matStepLabel>Select accounts</ng-template>
            <mat-label>Select-accounts</mat-label>
            <mat-select [formControl]="selectedCidList" multiple>
              <mat-option *ngFor="let cid of customer_list" [value]="cid.id">
                {{ cid.account_name }} [{{ cid.id }}]
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <ng-template matStepLabel>Configure date range</ng-template>
        <div class="label-input-block top-centre-form">
          <mat-form-field>
            <mat-label>From Days Ago</mat-label>
            <input
              name="fromDaysAgo"
              formControlName="fromDaysAgo"
              id="fromDaysAgo"
              matInput
            />
          </mat-form-field>
        </div>
        <div class="label-input-block top-centre-form">
          <mat-form-field>
            <mat-label>LookbackDays</mat-label>
            <input
              name="lookbackDays"
              formControlName="lookbackDays"
              id="lookbackDays"
              matInput
            />
          </mat-form-field>
        </div>
        <div class="label-input-block top-centre-form">
          <mat-form-field>
            <mat-label>Specify exclusion level</mat-label>
            <mat-select [formControl]="selectedExclusionLevelFormControl">
              <mat-option
                *ngFor="let item of exclusionLevelArray"
                [value]="item[0]"
              >
                {{ item[1] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <mat-label>Choose types of placements</mat-label>
        <br />
        <div>
          <div
            [className]="
              gads_data_error
                ? 'label-input-block largeErrorElement'
                : 'label-input-block'
            "
          >
            YouTube
            <mat-slide-toggle
              name="gadsDataYouTube"
              [(ngModel)]="data_youtube"
              formControlName="gadsDataYouTube"
              id="gadsDataYouTube"
            ></mat-slide-toggle>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Website
            Display
            <mat-slide-toggle
              name="gadsDataDisplay"
              [(ngModel)]="data_display"
              formControlName="gadsDataDisplay"
              id="gadsDataDisplay"
            ></mat-slide-toggle>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobile
            <mat-slide-toggle
              name="gadsDataMobile"
              [(ngModel)]="data_mobile"
              formControlName="gadsDataMobile"
              id="gadsDataMobile"
            ></mat-slide-toggle>
            <span class="error_text" *ngIf="gads_data_error"
              >You must select at least one data type to retrieve</span
            >
          </div>
        </div>
        <br /><br />
        <mat-accordion>
          <mat-expansion-panel [expanded]="filtersOpenState">
            <mat-expansion-panel-header>
              <mat-panel-title> Filters</mat-panel-title>
              <mat-panel-description>{{
                finalGadsFilter
              }}</mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matStepLabel>Select filters</ng-template>
            <div class="label-input-block top-centre-form">
              <mat-form-field>
                <mat-label>Metrics & Dimensions</mat-label>
                <mat-select [formControl]="selectedField">
                  <mat-optgroup
                    *ngFor="let group of allMetricArray"
                    [label]="group.name"
                    [disabled]="group.disabled"
                  >
                    <mat-option
                      *ngFor="let field of group.fields"
                      [value]="field.value"
                    >
                      {{ field.view }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="label-input-block top-centre-form">
              <mat-form-field
                name="gadsOperator"
                formControlName="gadsOperator"
                id="gadsOperator"
              >
                <mat-label>Operator</mat-label>
                <mat-select [formControl]="selectedOperator" (focus)="clearErrors('selectedOperator')" (blur)="validateOperator()">
                  <mat-option
                    *ngFor="let item of gadsOperatorsArray"
                    [value]="item[0]"
                  >
                    {{ item[1] }}
                  </mat-option>
                </mat-select>
                <span class="error_text" *ngIf="filter_operator_error">{{
                  filter_operator_error_msg
                }}</span>
              </mat-form-field>
            </div>
            <div class="label-input-block top-centre-form">
              <mat-form-field>
                <mat-label>Value</mat-label>
                <input [formControl]="selectedValue" matInput (focus)="clearErrors('selectedValue')" (blur)="validateValue()" />
                <span class="error_text" *ngIf="filter_value_error">{{
                  filter_value_error_msg
                }}</span>
              </mat-form-field>
            </div>
            <div class="label-input-block">
              <button
                type="button"
                id="gadsAddToFilters"
                class="focusButton"
                (click)="gadsAddFilter()"
                [disabled]="!conditionEnabled"
              >
                + Add
              </button>
            </div>
            <div class="label-input-block">
              <button
                type="button"
                id="gadsAddAnd"
                class="focusButton"
                (click)="gadsAddOrAnd('AND')"
                [disabled]="!orAndEnabled"
              >
                AND
              </button>
            </div>
            <div class="label-input-block">
              <button
                type="button"
                id="gadsAddOr"
                class="focusButton"
                (click)="gadsAddOrAnd('OR')"
                [disabled]="!orAndEnabled"
              >
                OR
              </button>
            </div>
            <div>
              <div class="label-input-block">
                &nbsp; &nbsp; &nbsp;<mat-icon class="bigicon"
                  >subdirectory_arrow_right</mat-icon
                >
                &nbsp;<input
                  [className]="
                    gads_filter_error
                      ? 'errorElement extrawide'
                      : 'inputElement extrawide'
                  "
                  type="text"
                  [(ngModel)]="finalGadsFilter"
                  formControlName="gadsFinalFilters"
                  name="gadsFinalFilters"
                  value="{{ finalGadsFilter }}"
                  [readonly]="gads_filter_lock"
                />
                <br /><span class="error_text" *ngIf="gads_filter_error"
                  >Errors in format. Do not end with OR or AND</span
                >
              </div>
              <div class="label-input-block">
                <button
                  type="button"
                  id="unlockFilter"
                  class="bigicon"
                  (click)="unlockFilter()"
                  matTooltip="Unlock/lock filter for free text"
                >
                  <mat-icon class="red_icon" *ngIf="gads_filter_lock"
                    >lock</mat-icon
                  >
                  <mat-icon class="green_icon" *ngIf="!gads_filter_lock"
                    >lock_open</mat-icon
                  >
                </button>
                <button
                  type="button"
                  id="clearGadsFilter"
                  class="deleteButton"
                  (click)="clearFilter()"
                  matTooltip="Clear current GAds filters"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br />
        <br />
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
        <br>
        <div>
          <button
            type="button"
            class="secondaryButton"
            (click)="togglePanel(); previewPlacements()"
            value="Preview"
          >
            Preview Results
          </button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Save and Schedule</ng-template>
        <div class="label-input-block top-centre-form">
          <mat-form-field>
            <mat-label>Schedule task</mat-label>
            <mat-select
              [formControl]="selectedSchedule"
              (selectionChange)="scheduleChange()"
            >
              <mat-option *ngFor="let item of scheduleArray" [value]="item[0]">
                {{ item[1] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="label-input-block" [hidden]="email_alerts_hidden">
          <mat-form-field>
            <mat-label>Exclude or Notify?</mat-label>
            <mat-select
              [formControl]="selectedTaskOutput"
              id="taskOutputDropDown"
            >
              <mat-option
                *ngFor="let item of taskOutputArray"
                [value]="item[0]"
              >
                {{ item[1] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Task Name</mat-label>
            <textarea
              matInput
              formControlName="taskName"
              name="taskName"
              placeholder="Enter task description, i.e. CPC > 10 and CTR < 0.01"
            ></textarea>
          </mat-form-field>
        </div>
        <div>
          <button type="button" class="saveButton" (click)="save_task()">
            {{ save_button }}
          </button>
        </div>
      </mat-step>
    </mat-stepper>
    <br />
    <br />
    <!-- Form End -->
    <br />
    <div class="label-input-block formSubmits">
      <div class="float-left"></div>
    </div>
  </form>
</div>
<p>
  <!---->
</p>

<div *ngIf="table_result.length > 0">
  <div class="button-container">
    <div class="label-input-block">
      <button
        type="button"
        [className]="exclude_count == 0 ? 'disabledButton' : 'secondaryButton'"
        (click)="runManualExcludeForm()"
        value="Preview"
      >
        Manually Exclude ({{ exclude_count }})
      </button>
    </div>
    <div class="toggle-column-select">
      <mat-form-field appearance="fill">
        <mat-label>Toggle column visibilities:</mat-label>
        <mat-select [(ngModel)]="toggle_column_selected_headers" multiple>
          <mat-option *ngFor="let header of toggle_column_all_headers" [value]="header">
            {{ header }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="pagination-left">
    <span class="error_text" *ngIf="memory_error"
      ><mat-icon>warning</mat-icon> Your report is only partial due to memory of
      your instance being reached</span
    >
  </div>

  <div class="pagination">
    <form [formGroup]="paginationForm">
      <div class="label-input-block">
        <a (click)="downloadCSV()"
          ><mat-icon>save_alt</mat-icon> Download CSV</a>
      </div>
      <div class="label-input-block">
        <span *ngIf="pagination_start + pagination_rpp <= table_result.length">
          {{ pagination_start + 1 }} to
          {{ pagination_start + pagination_rpp }} of {{ table_result.length }}
        </span>
        <span
          *ngIf="
            pagination_start + pagination_rpp > table_result.length &&
            table_result.length > 0
          "
        >
          {{ pagination_start + 1 }} to {{ table_result.length }} of
          {{ table_result.length }}
        </span>
      </div>
      <div class="label-input-block">
        <button type="button" class="pageButton" (click)="pagination_prev()">
          <<
        </button>
      </div>
      <div class="label-input-block">
        <select
          name="paginationValue"
          formControlName="paginationValue"
          (change)="paginationChange()"
          class="pageElement"
          id="paginationValue"
        >
          <option *ngFor="let item of pagination_values" [value]="item[0]">
            {{ item[0] }}
          </option>
        </select>
      </div>
      <div class="label-input-block">
        <button type="button" class="pageButton" (click)="pagination_next()">
          >>
        </button>
      </div>
    </form>
  </div>
</div>
<span *ngIf="table_result.length > 0">
  From:&nbsp;{{ this.date_from }} &nbsp;&nbsp;&nbsp;To:&nbsp;{{ this.date_to }}
</span>
<br /><br />
<input
  *ngIf="table_result.length > 0"
  type="checkbox"
  [(ngModel)]="isCheckAll"
  (ngModelChange)="toggleCheckAll(isCheckAll)"
/>
<span *ngIf="table_result.length > 0">Un/check all</span>


<table *ngIf="table_result.length > 0" class="styled-table newtask-width">
  <thead>
    <tr>
      <th class="hrlink"><a (click)="sort_table('default')">Exclude</a></th>
      <th class="hrlink">
        <a (click)="sort_table('excluded_already')">Status</a>
      </th>
      <th class="hrlink"><a (click)="sort_table('allowlist')">Allowlist</a></th>
      <ng-container *ngFor="let header of column_headers">

        <th *ngIf="toggle_column_selected_headers.includes(header) && !hidden_columns.includes(header)" class="hrlink">
          <a (click)="sort_table('{{header}}')">{{ header }}</a>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let data of table_result
          | slice: pagination_start : pagination_start + pagination_rpp;
        let i = index
      "
      [className]="
        row_class(
          data.excluded_already,
          data.exclude_from_account,
          data.allowlist
        )
      "
    >
      <td>
        <input
          [value]="data.placement"
          type="checkbox"
          (change)="
            !data.excluded_already && !data.allowlist
              ? excludeCheckChange(data.placement, data.exclude_from_account)
              : null
          "
          [checked]="
            data.exclude_from_account &&
            !data.excluded_already &&
            !data.allowlist
          "
          [disabled]="data.excluded_already || data.allowlist"
        />
      </td>
      <td *ngIf="data.excluded_already">
        <mat-icon matTooltip="Excluded">block</mat-icon>
      </td>
      <td *ngIf="!data.excluded_already">
        <mat-icon matTooltip="Active" class="green_icon">check_circle</mat-icon>
      </td>
      <td>
        <span *ngIf="!data.allowlist"
          ><a
            class="grey_icon"
            (click)="addToAllowlist(data.placement_type, data.placement, data.customer_id)"
            target="_self"
            matTooltip="Add placement to allowlist so it is never excluded"
            ><mat-icon>add_circle_outline</mat-icon></a
          ></span
        >

        <span *ngIf="data.allowlist"
          ><a
            (click)="removeFromAllowlist(data.placement_type, data.placement, data.customer_id)"
            target="_self"
            matTooltip="Remove placement from allowlist so it can be excluded"
            ><mat-icon class="gold_icon">stars</mat-icon></a
          ></span
        >
      </td>

      <ng-container
        *ngFor="let item of data | keyvalue: unsorted; let i = index"
      >     
        <td *ngIf="toggle_column_selected_headers.includes(column_headers[i]) && !hidden_columns.includes(column_headers[i])">
          <span
            *ngIf="
              column_headers[i] == 'placement_type' &&
              item.value == 'YOUTUBE_CHANNEL'
            "
            ><mat-icon matTooltip="YouTube Channel"
              >video_library</mat-icon
            ></span
          >
          <span
            *ngIf="
              column_headers[i] == 'placement_type' &&
              item.value == 'YOUTUBE_VIDEO'
            "
            ><mat-icon matTooltip="YouTube Channel"
              >video_library</mat-icon
            ></span
          >
          <span
            *ngIf="
              column_headers[i] == 'placement_type' && item.value == 'WEBSITE'
            "
            ><mat-icon matTooltip="Website">computers</mat-icon></span
          >
          <span
            *ngIf="
              column_headers[i] == 'placement_type' &&
              item.value == 'MOBILE_APPLICATION'
            "
            ><mat-icon matTooltip="Mobile App Category"
              >mobile_friendly</mat-icon
            ></span
          >
          <span
            *ngIf="
              column_headers[i] == 'placement_type' &&
              item.value == 'MOBILE_APP_CATEGORY'
            "
            ><mat-icon matTooltip="Mobile App Category"
              >mobile_friendly</mat-icon
            ></span
          >
          <span *ngIf="column_headers[i] == 'name'"
            ><a href="https://{{ data['url'] }}" target="_blank">{{
              item.value
            }}</a></span
          >
          <span *ngIf="value_columns.includes(column_headers[i])">{{
            formatNumber(item.value) | number: "1.2-2"
          }}</span>
          <span
            *ngIf="column_headers[i] == 'reason'"
            matTooltip="{{ data['extra_info'] | json }}"
            >{{ item.value }}</span
          >
          <span
            *ngIf="
              !value_columns.includes(column_headers[i]) &&
              !['placement_type', 'name', 'extra_info', 'reason'].includes(
                column_headers[i]
              )
            "
            >{{ item.value }}</span
          >
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<div *ngIf="no_data" class="empty-table">
  No data matches your Google Ads filters!
</div>
<app-loading [showSpinner]="loading"></app-loading>
