<h1>Release Notes:</h1>

<ul>
   <li>
    <h3>19-Jul-2024</h3>
    <ul>
      <li>
        Re-added named-conversions
      </li>
    </ul>
  </li>
    <li>
    <h3>11-Jul-2024</h3>
    <ul>
      <li>
        Fix install.sh script
      </li>
    </ul>
  </li>
  <li>
    <h3>17-Jun-2024</h3>
    <ul>
      <li>
        Fix snakebar text spacing.
      </li>
    </ul>
  </li>
  <li>
    <h3>13-Jun-2024</h3>
    <ul>
      <li>
        Added "reason =Task without filters".
      </li>
    </ul>
  </li>
  <li>
    <h3>11-Jun-2024</h3>
    <ul>
      <li>
        Fix email logo.
      </li>
    </ul>
  </li>
  <li>
    <h3>05-Jun-2024</h3>
    <ul>
      <li>
        Fix conversion_split query
      </li>
    </ul>
  </li>
  <li>
    <h3>04-Jun-2024</h3>
    <ul>
      <li>
        Topic names to be like in install.sh
      </li>
    </ul>
  </li>
  <li>
    <h3>03-Jun-2024</h3>
    <ul>
      <li>
        Hint text in tasks table to be "excluded/detected" according to
        task-output
      </li>
    </ul>
  </li>
  <li>
    <h3>02-Jun-2024</h3>
    <ul>
      <li>Fix website extra-info in UI table</li>
    </ul>
  </li>
  <li>
    <h3>30-May-2024</h3>
    <ul>
      <li>Bump ads-hpusekeeper version</li>
    </ul>
  </li>
  <li>
    <h3>29-May-2024</h3>
    <ul>
      <li>Fix selecting avg_cpv should make it selected in the dropdown</li>
      <li>Added entity name when there are duplicate rows</li>
      <li>Revisited association with negative lists snackbar message</li>
    </ul>
  </li>
  <li>
    <h3>28-May-2024</h3>
    <ul>
      <li>Fix conversion split bug</li>
    </ul>
  </li>
  <li>
    <h3>22-May-2024</h3>
    <ul>
      <li>More detailed ads-housekeeper error</li>
    </ul>
  </li>
  <li>
    <h3>20-May-2024</h3>
    <ul>
      <li>More detailed snackbar error</li>
    </ul>
  </li>
  <li>
    <h3>15-May-2024</h3>
    <ul>
      <li>Dropdown alphabetic order</li>
    </ul>
  </li>
  <li>
    <h3>15-Mar-2024</h3>
    <ul>
      <li>Preview table headers as titels</li>
    </ul>
  </li>
  <li>
    <h3>14-Mar-2024</h3>
    <ul>
      <li>Hide metrics which are not related to chosen exclusion level</li>
    </ul>
  </li>
  <li>
    <h3>06-Mar-2024</h3>
    <ul>
      <li>New settings: Save to DB, Always call YT API</li>
    </ul>
  </li>
  <li>
    <h3>20-Feb-2024</h3>
    <ul>
      <li>
        Remove "YT" columns from columns visibility toggle when results have no
        "YT" data
      </li>
    </ul>
  </li>
  <li>
    <h3>15-Feb-2024</h3>
    <ul>
      <li>Email formatting</li>
    </ul>
  </li>
  <li>
    <h3>7-Feb-2024</h3>
    <ul>
      <li>Task name on "edit task" header</li>
    </ul>
  </li>
  <li>
    <h3>29-Jan-2024</h3>
    <ul>
      <li>Color schema</li>
    </ul>
  </li>
  <li>
    <h3>11-Jan-2024</h3>
    <ul>
      <li>Added "has latin letters" filter</li>
    </ul>
  </li>
  <li>
    <h3>09-Jan-2024</h3>
    <ul>
      <li>Toggle visibility should contain all server fields</li>
    </ul>
  </li>
  <li>
    <h3>03-Jan-2024 - Improved task view</h3>
    <ul>
      <li>
        Restructure task view page: add `Output` column, move `Delete` to slide
        toggle
      </li>
      <li>grey down unused output options</li>
      <li>Show account names instead of customer ids</li>
    </ul>
  </li>
  <li>
    <h3>28-Dec-2023</h3>
    <ul>
      <li>YT data in results table</li>
    </ul>
  </li>
  <li>
    <h3>14-Dec-2023</h3>
    <ul>
      <li>Task name in "new task"</li>
    </ul>
  </li>
  <li>
    <h3>10-Dec-2023</h3>
    <ul>
      <li>Filters UI validation</li>
    </ul>
  </li>
  <li>
    <h3>28-Nov-2023</h3>
    <ul>
      <li>Column visibilities toggle</li>
    </ul>
  </li>
  <li>
    <h3>22-Nov-2023</h3>
    <ul>
      <li>v2.0</li>
    </ul>
  </li>
  <li>
    <h3>5-Jul-2023</h3>
    <ul>
      <li>change metrics dropdown according to the filter toggles</li>
    </ul>
  </li>
  <li>
    <h3>20-Jun-2023</h3>
    <ul>
      <li>Added exclude and notify dropdown</li>
    </ul>
  </li>
  <li>
    <h3>15-Jun-2023</h3>
    <ul>
      <li>Added "mobile" exclusion type</li>
    </ul>
  </li>
  <li>
    <h3>26-Mar-2023</h3>
    <ul>
      <li>Added "dates" to sent emails</li>
    </ul>
  </li>
  <li>
    <h3>12-Mar-2023</h3>
    <ul>
      <li>Fixed bug: YT filter being ignored</li>
    </ul>
  </li>

  <li>
    <h3>7-Mar-2023</h3>
    <ul>
      <li>Fixed bug with getting available MCC user for users</li>
      <li>Added "task name" to sent emails</li>
      <li>Refactor method names (internal)</li>
    </ul>
  </li>
  <li>
    <h3>20-Feb-2023</h3>
    <ul>
      <li>Skip mail.google.com from exclusion</li>
    </ul>
  </li>
  <li>
    <h3>15-Feb-2023</h3>
    <ul>
      <li>Fixed sending email bug from "Tasks" tab</li>
      <li>Skip adsenseformobileapps.com from exclusion</li>
    </ul>
  </li>
  <li>
    <h3>5-Feb-2023</h3>
    <ul>
      <li>Added `all conversions` metrics</li>
      <li>Added `Release Notes`</li>
    </ul>
  </li>
</ul>
