
  <h1>Release Notes:</h1>


<ul>
  <li><h3>07-Mar-2023</h3>
    <ul>      
      <li>Fixed bug with getting available MCC user for users</li>
    </ul>
  </li>
  <li><h3>26-Mar-2023</h3>
    <ul>      
      <li>Added "dates" to sent emails</li>
    </ul>
  </li>
  <li><h3>7-Mar-2023</h3>
    <ul>      
      <li>Added "task name" to sent emails</li>
      <li>Refactor method names (internal)</li>
    </ul>
  </li>
  <li><h3>20-Feb-2023</h3>
    <ul>      
      <li>Skip mail.google.com from exclusion</li>
    </ul>
  </li>
  <li><h3>15-Feb-2023</h3>
    <ul>
      <li>Fixed sending email bug from "Tasks" tab</li>
      <li>Skip adsenseformobileapps.com from exclusion</li>
    </ul>
  </li>
  <li><h3>5-Feb-2023</h3>
    <ul>
      <li>Added `all conversions` metrics</li>
      <li>Added `Release Notes`</li>
    </ul>
  </li>
</ul>

