
  <h1>Release Notes:</h1>


<ul>
  <li><h3>29-Jan-2024</h3>
    <ul>
      <li>Color schema</li>
    </ul>
  </li>
  <li><h3>11-Jan-2024</h3>
    <ul>
      <li>Added "has latin letters" filter</li>
    </ul>
  </li>
  <li><h3>09-Jan-2024</h3>
    <ul>
      <li>Toggle visibility should contain all server fields</li>
    </ul>
  </li>
  <li><h3>03-Jan-2024 - Improved task view</h3>
    <ul>
      <li>Restructure task view page: add `Output` column, move `Delete` to slide toggle</li>
      <li>grey down unused output options</li>
      <li>Show account names instead of customer ids</li>
    </ul>
  </li>
  <li><h3>28-Dec-2023</h3>
    <ul>
      <li>YT data in results table</li>
    </ul>
  </li>
  <li><h3>14-Dec-2023</h3>
    <ul>
      <li>Task name in "new task"</li>
    </ul>
  </li>
  <li><h3>10-Dec-2023</h3>
    <ul>
      <li>Filters UI validation</li>
    </ul>
  </li>
  <li><h3>28-Nov-2023</h3>
    <ul>
      <li>Coloum visibilities toggle</li>
    </ul>
  </li>
<li><h3>22-Nov-2023</h3>
    <ul>
      <li>v2.0</li>
  <li><h3>5-Jul-2023</h3>
    <ul>
      <li>change metrics dropdown according to the filter toggels</li>
    </ul>
  </li>
  <li><h3>20-Jun-2023</h3>
    <ul>
      <li>Added exclude and notify dropdown</li>
    </ul>
  </li>
  <li><h3>15-Jun-2023</h3>
    <ul>
      <li>Added "mobile" exclusion type</li>
    </ul>
  </li>
  <li><h3>26-Mar-2023</h3>
    <ul>
      <li>Added "dates" to sent emails</li>
    </ul>
  </li>
  <li><h3>12-Mar-2023</h3>
    <ul>
      <li>Fixed bug: YT filter being ignored</li>
  <li><h3>7-Mar-2023</h3>
    <ul>
      <li>Fixed bug with getting available MCC user for users</li>
      <li>Added "task name" to sent emails</li>
      <li>Refactor method names (internal)</li>
    </ul>
  </li>
  <li><h3>20-Feb-2023</h3>
    <ul>
      <li>Skip mail.google.com from exclusion</li>
    </ul>
  </li>
  <li><h3>15-Feb-2023</h3>
    <ul>
      <li>Fixed sending email bug from "Tasks" tab</li>
      <li>Skip adsenseformobileapps.com from exclusion</li>
    </ul>
  </li>
  <li><h3>5-Feb-2023</h3>
    <ul>
      <li>Added `all conversions` metrics</li>
      <li>Added `Release Notes`</li>
    </ul>
  </li>
</ul>

