<div class="centre-form">
    <form [formGroup]="settingsForm">
        <div>
            <div class="heading">
                <span>Settings</span>
            </div>
            <div>
                <div class="label-input-block yt-label">
                    <label for="clientFile">'client_secret.json' file</label>
                </div>
                <div class="label-input-block">
                    <input type="file" class="file-upload" formControlName="clientFile" name="clientFile" 
                    requiredFileType="json" (change)="upload_file($event)">{{file_status}}
                </div>
            </div>
            <div class="label-input-block yt-label">
                <label for="gadsDevToken">Google Ads Developer Token</label>
            </div>
            <div class="label-input-block">
                <input type="text" class="inputElement" formControlName="gadsDevToken" name="gadsDevToken">
            </div>
        </div>
            <div class="label-input-block centre-form">
            <div class="label-input-block">
                <button type="button" class="primaryButton" (click)="reauth()">Create New Authentication Token</button>
            </div>
                <div class="label-input-block">
                    <button [hidden]=hideAuth type="button" class="authButton" (click)="finish_auth()">Finish Authentication</button>
                </div>
            </div>
            <p></p>
            
            <div>
                
            <div class="label-input-block yt-label">
                <label for="mcc_list">MCC ID</label>
                </div>
                <div class="label-input-block">
            <select name="gadsMccId" class="inputElement" formControlName="gadsMccId" id="gadsMccId">
                <option *ngFor="let mcc_id of mcc_list" [value]=mcc_id[1]>{{  mcc_id[1] }}</option>
            </select>
            </div>
            <div>
                <div class="label-input-block yt-label">
                    <label for="emailAddress">Email Address</label>
                </div>
                <div class="label-input-block">
                    <input type="text" class="inputElement" formControlName="emailAddress" name="emailAddress">
                </div>
            </div>
            <div class="label-input-block centre-form">
                <div class="label-input-block">
                    <button type="button" class="primaryButton" (click)="save_settings()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-loading [showSpinner]=loading></app-loading>