<div class="centre-form">
    <form [formGroup]="settingsForm">
       <div>
          <div class="heading">
             <span>Settings</span>
          </div>
       </div>
       <p></p>
       <div>
          <div class="label-input-block yt-label">
             <label for="mcc_list">MCC ID</label>
          </div>
          <div class="label-input-block">
             <select name="gadsMccId" class="inputElement" formControlName="gadsMccId" id="gadsMccId">
                <option *ngFor="let mcc of mcc_list" [value]=mcc[1].mcc_id>{{ mcc[1].account_name }} [{{ mcc[1].mcc_id }}]</option>
             </select>
          </div>
          <div>
             <div class="label-input-block yt-label">
                <label for="emailAddress">Email Address</label>
             </div>
             <div class="label-input-block">
                <input type="text" class="inputElement" formControlName="emailAddress" name="emailAddress">
             </div>
          </div>
          <div>
             <div class="label-input-block yt-label">
                <label for="saveToDB">Save parsed placements to DB?</label>
             </div>
             <div class="label-input-block">
                <input type="checkbox" checked="checked" class="inputElement" formControlName="saveToDB" name="saveToDB">
             </div>
          </div>
          <div class="label-input-block centre-form">
             <div class="label-input-block">
                <button type="button" class="primaryButton" (click)="save_settings()">Save</button>
             </div>
          </div>
       </div>
    </form>
 </div>
 <app-loading [showSpinner]=loading></app-loading>
