<div class="task-width centre-table">
  <br />
    <div *ngIf="task_table_data.length == 0" align="center" >
      There are no saved tasks!<p>
        <a routerLink="/newtask"
          ><button type="button" class="secondaryButton">
            <mat-icon>add_box</mat-icon>Create your first task
          </button></a
        >
      </div>
  <div *ngIf="task_table_data.length > 0">
  <div class="heading">
    <span>Tasks</span>
  </div>
    <form [formGroup]="paginationForm">
      <div *ngIf="selected_tasks.size == 0" class="pagination-left">
        <a routerLink="/newtask"
          ><button type="button" class="secondaryButton">
            <mat-icon>add_box</mat-icon>New Task
          </button></a
        >
      </div>
      <div *ngIf="selected_tasks.size" class="pagination-left">
        <button type="button" class="secondaryButton" mat-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down_circle</mat-icon>Actions</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
          <a
            (click)="runBatch()"
            target="_self"
            matTooltip="Run task(s) and exclude now">
            <mat-icon class="green-icon">play_arrow</mat-icon>Run</a>
          </button>
          <div *ngIf="selected_tasks.size == 1">
            <button mat-menu-item>
            <a
            href="/newtask?task={{task_id}}"
            target="_self"
            matTooltip="Edit current task">

              <mat-icon class="grey-icon">edit</mat-icon>Edit</a>
            </button>
          </div>
          <button mat-menu-item>
          <a
            (click)="deleteBatch()"
            target="_self"
            matTooltip="Delete this task">
            <mat-icon class="red-icon">delete_forever</mat-icon>Delete</a>
            </button>
        </mat-menu>
      </div>
      <div class="pagination">
        <div class="label-input-block">
          <span
            *ngIf="pagination_start + pagination_rpp <= task_table_data.length"
          >
            {{ pagination_start + 1 }} to
            {{ pagination_start + pagination_rpp }} of
            {{ task_table_data.length }}
          </span>
          <span
            *ngIf="
              pagination_start + pagination_rpp > task_table_data.length &&
              task_table_data.length > 0
            "
          >
            {{ pagination_start + 1 }} to {{ task_table_data.length }} of
            {{ task_table_data.length }}
          </span>
        </div>
        <div class="label-input-block">
          <button type="button" class="pageButton" (click)="pagination_prev()">
            <<
          </button>
        </div>
        <div class="label-input-block">
          <select
            name="paginationValue"
            formControlName="paginationValue"
            (change)="paginationChange()"
            class="pageElement"
            id="paginationValue"
          >
            <option *ngFor="let item of pagination_values" [value]="item[0]">
              {{ item[0] }}
            </option>
          </select>
        </div>
        <div class="label-input-block">
          <button type="button" class="pageButton" (click)="pagination_next()">
            >>
          </button>
        </div>
      </div>
    </form>
  </div>
  <table *ngIf="task_table_data.length > 0" class="styled-table task-width">
    <thead>
      <tr>
        <th> <mat-checkbox (change)="toggleCheckAll($event)"></mat-checkbox>
        </th>
        <th>Date Created</th>
        <th>Status</th>
        <th>Output</th>
        <th>Task Name</th>
        <th>Accounts</th>
        <th>Schedule</th>
        <th>Last Run</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let data of task_table_data
            | slice: pagination_start : pagination_start + pagination_rpp
        "
      >
        <td>
          <mat-checkbox
            [value]="data.id"
            type="checkbox"
            (click)="toggleTaskSelection(data.id)"
            [checked]="data.isSelected"

            ></mat-checkbox>
        </td>
        <td>{{ localizeDate(data.creation_date) }}</td>
        <td><mat-slide-toggle [checked]="data.status=='ACTIVE'" (click)="toggleTaskStatus(data)"></mat-slide-toggle></td>
        <td>
          <span *ngIf="data.output == 'NOTIFY'" class="valid_text">
            <mat-icon matTooltip="Exclusions are disabled" class="grey-icon">label_off</mat-icon>
            <mat-icon matTooltip="Notifications are enabled" class="green-icon">mail</mat-icon>
            </span
          >
          <span *ngIf="data.output == 'EXCLUDE'" class="valid_text">
            <mat-icon matTooltip="Exclusions are enabled" class="green-icon">label_on</mat-icon>
            <mat-icon matTooltip="Notifications are disabled" class="grey-icon">mail</mat-icon>
            </span
          >
          <span *ngIf="data.output == 'EXCLUDE_AND_NOTIFY'" class="valid_text">
            <mat-icon matTooltip="Exclusions are enabled" class="green-icon">label_on</mat-icon>
            <mat-icon matTooltip="Notifications are enabled" class="green-icon">mail</mat-icon>
            </span
          >
        </td>
        <td>
          <a
            href="/newtask?task={{ data.id }}"
            target="_self"
            matTooltip="Open task"
            >{{ data.name }}</a
          >
        </td>
        <td *ngIf="data.accounts.length==1">{{data.accounts}}</td>
        <td *ngIf="data.accounts.length>1" matTooltip="{{displayAccounts(data.accounts.slice(1))}}" matTooltipClass="multiline-tooltip">{{data.accounts[0]}} & <i>{{data.accounts.length-1}} more accounts</i></td>
        <td *ngIf="data.next_run != 'Not scheduled'" matTooltip="Next run: {{data.next_run}}">{{ getScheduleValue(data.schedule) }}</td>
        <td *ngIf="data.next_run == 'Not scheduled'">{{ getScheduleValue(data.schedule) }}</td>
        <td>
          <span *ngIf="data.placements_excluded == undefined"
            ><mat-icon matTooltip="Task has not run yet" color="accent"
              >warning</mat-icon
            ></span
          >
          <span *ngIf="data.placements_excluded == 0"
            ><mat-icon matTooltip="No placements were excluded during the last run {{data.last_run}}" color="accent"
              >warning</mat-icon
            ></span
          >
          <span *ngIf="data.placements_excluded > 0"
            ><mat-icon matTooltip="{{data.placements_excluded}} placements were excluded during the last run {{data.last_run}}" class="green-icon"
              >check_circle</mat-icon
            ></span
          >
          <span *ngIf="data.error_code > 0" class="error_text"
            ><mat-icon matTooltip="Last run failed due to end point error"
              >error</mat-icon
            ></span
          >
          <span *ngIf="data.error_code == '0'" class="valid_text"
            ><mat-icon matTooltip="Schedule is up and running"
              >check_circle</mat-icon
            ></span
          >

        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-loading [showSpinner]="loading"></app-loading>
