#loading {
  position: fixed;
  margin: 0 auto;
  left: 45%;
  top: 45%;
  z-index: 5;
  width: 100px;
  height: 100px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #009879;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  box-shadow: 0 0 0 600vmax rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
