<mat-toolbar>
  <img src="/img/gtechlogo.png" height="40px" />
  <span class="primaryColor">CPR Placement Excluder</span>
  <a
    mat-button
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Tasks</a
  >
  <a mat-button routerLink="/newtask" routerLinkActive="active">New Task</a>
  <span class="toolbar-spacer"></span>
  <span *ngIf="observeMode"
    class="warningColor"
    align="center"
    matTooltip="No actual exclusions to be performed"
    >Deployed in Observe mode</span
  >
  <span class="toolbar-spacer"></span>
  <span class="primaryColor">Version: 29-Nov-2024</span>
  <a mat-button routerLink="/releasenotes" routerLinkActive="active"
    >Release Notes</a
  >
  <a mat-button routerLink="/settings" routerLinkActive="active">Settings</a>
</mat-toolbar>
