@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

[hidden] { display: none !important;}

.primaryColor {
  color: #009879;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hrlink a {
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
}
.hrlink a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #FFFFFF;
}

table th {
  position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
  position: sticky;
  top: 0;
  z-index: 2; // any positive value, layer order is global
  background: #009879; // any bg-color to overlap
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #009879;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: darkred;
}

.full-width {
    width: 100%;
}

.bigicon {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 30px;
}

.smalltext {
  font-size: x-small;
  color: #009879;
}

.heading {
  color: #009879;
  font-size: x-large;
  font-weight: bold;
  border-bottom: 1px solid #009879;
}

.grey_icon {
  color: gray;
}

.green_icon {
  color:rgb(102, 192, 107);
}

.gold_icon {
  color: goldenrod;
}

.red_icon {
  color: darkred;
}

/* TABLE CSS */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.centre-table {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.task-width {
  width:1200px;
}
.newtask-width {
  width: 100%;
}
.align-centre {
  text-align: center;
}
.align-left {
  float: left;
}
.align-right {
  float: right;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

//.styled-table tbody tr:nth-of-type(even) {
//  background-color: #f3f3f3;
//}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.empty-table {
  text-align: center;
  text-decoration: bold;
  border-bottom: 2px solid #009879;
}

.tobeexcluded {
  background-color: #f6fff0;
}

.alreadyexcluded {
  background-color: #e8e8e8;
  color: #a1a1a1;
}

.allowlisted {
  background-color: #faf7ac;
  color: goldenrod
}

input[type='checkbox'] {
  accent-color: #009879;
}

/* FORM CSS */
.label-input-block {
  display:inline-block; 
  padding: 5px;
}

.inputElement {
  width: 240px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}
.errorElement {
  width: 240px;
  padding: 8px;
  border: 1px solid red;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

.smallInputElement {
  width: 110px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}
.smallErrorElement {
  width: 110px;
  padding: 8px;
  border: 1px solid red;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}
.largeErrorElement {
  width: 550px;
  border: 1px solid red;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
.focusButton {
  background-color: #009879;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.primaryButton{
  background-color: #009879;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 300px;
}
.secondaryButton{
  background-color: #008ae6;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.authButton{
  background-color: #e68a00;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.saveButton {
  background-color: #f2f2f2;
  color:#009879;
  font-weight: bold;
  padding: 12px 20px;
  border-width: 2px;
  border-color: #009879;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

.disabledButton{
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.deleteButton {
  background-color: darkred;
  color: white;
  font-weight: bold;
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: darkred;
}

button:disabled {
  background-color: grey;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 10px;
}

.extrawide {
  width: 800px;
}

.filterBorder {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 10px;
  width: 1000px;
}

.formSubmits {
  padding: 10px;
  width: 1000px;
  text-align: right;
}

.centre-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.top-centre-form {
  vertical-align: top;
  height: 80px;
}
.yt-label {
  width: 300px;
  text-align: right;
}

.error_text {
  color: red;
  font-size: 10px;
  padding: 5px;
}

.info_text {
  color: gray;
  font-size: 10px;
  padding: 5px;
}

.valid_text {
  color: green;
  font-size: 10px;
  padding: 5px;
}

.error-snackbar {
  background: #ffcccc;
  color: darkred;
  .mat-simple-snackbar-action {
    color: darkred;
    background-color: white;
}
}

.success-snackbar {
  background: #c2f0c2;
  color: #196619;
  .mat-simple-snackbar-action {
    color: #196619;
    background-color: white;
}
}

.pagination {
text-align: right;
float:right;
}

.pagination-left {
  text-align: left;
  float: left;
  }

.pageButton {
  background-color: #009879;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pageElement {
  width: 70px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: vertical;
}

.float-left {
  float: left;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #b3fff0;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #009879;
}


/* mat-confirm-dialog (customised dialog) */
.confirm-dialog-container .mat-dialog-container {
  border-radius: .25em .25em .4em .4em;
  padding: 0px;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: black;
  display: flex;
}
.confirm-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
cursor: pointer;
}

.confirm-dialog-container #no-button{
height: 50px;
width: 50%;
background-color: red;
color:white;
border: none;
font-weight: bold;
}

.confirm-dialog-container #yes-button{
  height: 50px;
  width: 50%;
  background-color: #009879;
  color:white;
  border: none;
  font-weight: bold;
}

.confirm-dialog-container span.content-span{
  padding:  35px 16px;
  text-align: center;
  font-size: 20px;
}